
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Bembos Enterprise</title> 
	<meta usuario="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  <link rel="stylesheet" href="login.css">
  <link rel="icon"  type="imclave/png" href="Img/Login/bembosicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>  
<body>
   

     




   
    <form class="formulario" id="login">
    
  
     <img src="Img/Login/bembos.png" class="Logo" alt=""> 
     <div class="contenedor">
     
      <div class="input-contenedor">
       <select id="TipoUsuario" class="datos">
        <option value="1" selected>Pedidos</option> 
        <option value="2">Cocina</option>
      </select>
        
     </div>
         

         <div class="input-contenedor">
         <input  class="datos" type="text" placeholder="Usuario" v-model="usuario" id="usuario">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input class="datos" type="password" placeholder="Clave" v-model="clave" id="clave">
         
         </div>
         <div v-if="errors.length">   
          <div class="alert alert-danger" v-for="error in errors">{{ errors }}</div>
       </div>
         <input type="button" value="INGRESAR" @click="Logear()" class="button">          
         </div>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#login',
        data:{
            errors:[] //declaro un arreglo para luego ser llenado
        },
        methods: {
        
            Logear : function(){
                
                axios.get('https://bembospedidos.herokuapp.com/api/pedidos/user/')
                //consume el api 
                .then(response =>{
                  //espero que me responda  
                    if(!response){
                      //si no mensaje de error
                        this.errors.push("No se pudo conectar con la red")
                    }else{
                      
                      //Obtengo las data de todos los argumentos
                        var TipoUsuario=document.getElementById("TipoUsuario").value;
                        var usuario = document.getElementById("usuario").value;
                        var clave = document.getElementById("clave").value;
                      //Obtengo las data de todos los argumentos
                        this.errors = [];
                        
                      //mando los resultados con un data storge
                        localStorage.setItem("response",JSON.stringify(response.data.results))
                      //obtengo los resultados mediante un json getitem
                        var data = JSON.parse(localStorage.getItem("response"))
                        var validaAcceso = false
                        var indexMap = null
                        data.map(function(i,idx){ validaAcceso = usuario == i.username; indexMap = idx })
                        localStorage.setItem("usuarioSesion",JSON.stringify(response.data.results[indexMap]))
    
                       
                        if (validaAcceso){
                          if (TipoUsuario==="1"){
                            window.location.href = "pedidos.html";    
                   
                          }
                          else
                          {
                            window.location.href = "cocina.html";    
                   
                          }
                                   
                          }else{
                             this.errors.push("Usuario Incorrecto.")
                        }
                    }
                });
            }
        }
    });        
      </script>
    
 

 
</body>
</html>
