*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.box-all{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
}
.box-items{
    max-width: 800px;
    width: 100%;
    margin: 0 0 20px 0px;
    
}
.container-all{
    color: #26419a;
    display: grid;
    flex-direction: column;
    border: 1px solid #ffb500;
    max-width: 1100px;
    width: 100%;
    margin: 20px;
    border-radius: 6px; 
    background-color:#26419a;
    margin-left: 1em;
    text-align: center;
}
.container-items{
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px auto;
    padding: 10px;
   
    
}

.item{
    border: 1px solid #26419a;
    background-color:#ffb500;
    padding: 10px 0;

    border-radius: 6px; 
    margin-left: 1em;
}
.item p{
    font-size: 20px;
    font-weight: 600;
}
.btnAdd{
    border: 1px solid #26419a;
  width: 80%;
  color: #ffb500;
  font-size: 20px;
  background:  #26419a;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
    margin-left: 1em;
}
.order-now{
    margin-top:10%;
    border: 1px solid #26419a;
    color: #26419a;
    background-color:#ffb500;
    width: 25%;
    height: 50%;
    position: fixed;
    right: 5%;
    top: 25%;
    overflow-y: auto;

    

}
.container-pedidos p{
    font-size: 20px;
}
.pedido-items > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 10px;
}
@media screen and (max-width: 768px){
    .box-all{
        flex-direction: column;
        
    }
    .container-all{
        max-width: 700px;
        width: 80%;
   
        margin: 0 auto;
    }
    .container-items{
        grid-template-columns: 1fr 1fr;
        
        
    }
    .order-now{
        position:sticky ;
        margin: 0 auto;
    }
    }
@media screen and (max-width: 576px){
    .box-all{
        flex-direction: column;
        
    }
    .order-now{
        max-width: 330px;
        margin: 10px auto;
    }
    .container-all{
        max-width: 555px;
        width: 95%;
        margin: 0 auto;
        background-color: 
    }
    .container-items{
        grid-template-columns: 1fr 1fr;
        
    }
    .item{
        max-width: 157px;
    }
    .item img{
        width: 155px;
    }
    }
