<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="pedidos.css">
    <link rel="stylesheet" href="cocina.css">
    <link rel="icon"  type="imclave/png" href="Img/Login/bembosicon.png">
    <title>Document</title>
</head>
<body>
 <div id="container">
        <header>
                <div class="portada"> 
                <ul>
                    <li><img src="Img/Cocina/promo3.jpg" alt=""></li>
                    <li><img src="Img/Cocina/promo4.png" alt=""></li>
                    <li><img src="Img/Cocina/promo5.jpg" alt=""></li>
                    <li><img src="Img/Cocina/promo6.png" alt=""></li>
                       <li><img src="Img/Cocina/promo5.jpg" alt=""></li>
                    <li><img src="Img/Cocina/promo6.png" alt=""></li>
                    <li><img src="Img/Cocina/promo3.jpg" alt=""></li>
                    <li><img src="Img/Cocina/promo4.png" alt=""></li>
                 
                </ul>
                </div>
     </header>

     <div class="box-all">
        <div class="box-items">
            <div class="container-all">
                <div>
                    <h2>Elige tu tipo de pan</h2>
                </div>
                <div class="container-items">
                    <div v-for="pan in panes" :key="pan.id" class="item">
                        <p class="name-item">{{pan.name}}</p>
                        <img src="https://www.bembos.com.pe/media/wysiwyg/menu/tacuchay-menu.webp" alt="">
                        <p>S/. <span class="price-item">{{pan.price}}</span></p>
                        <button class="btnAdd" @click=agregar>AGREGAR</button>
                    </div>
                </div>
            </div>
            <div class="container-all">
                <div>
                    <h2>Elige tu tipo de Carne</h2>
                </div>
                <div class="container-items">
                    <div v-for="carne in carnes" :key="carne.id" class="item">
                        <p class="name-item">{{carne.name}}</p>
                        <img src="https://www.bembos.com.pe/media/wysiwyg/menu/tacuchay-menu.webp" alt="">
                        <p>S/. <span  class="price-item">{{carne.price}}</span></p>
                        <button class="btnAdd" @click=agregar>AGREGAR</button>
                    </div>
                </div>
            </div>
            <div class="container-all">
                <div>
                    <h2>Elige tu tipo de queso</h2>
                </div>
                <div class="container-items">
                    <div v-for="queso in quesos" :key="queso.id" class="item">
                        <p class="name-item">{{queso.name}}</p>
                        <img src="https://www.bembos.com.pe/media/wysiwyg/menu/tacuchay-menu.webp" alt="">
                        <p>S/. <span class="price-item">{{queso.price}}</span></p>
                        <button class="btnAdd" @click=agregar>AGREGAR</button>
                    </div>
                </div>
            </div>
            <div class="container-all">
                <div>
                    <h2>Elige tu tipo de verdura</h2>
                </div>
                <div class="container-items">
                    <div v-for="verdura in verduras" :key="verdura.id" class="item">
                        <p class="name-item">{{verdura.name}}</p>
                        <img src="https://www.bembos.com.pe/media/wysiwyg/menu/tacuchay-menu.webp" alt="">
                        <p>S/. <span class="price-item">{{verdura.price}}</span></p>
                        <button class="btnAdd" @click=agregar>AGREGAR</button>
                    </div>
                </div>
            </div>
            <div class="container-all">
                <div>
                    <h2>Elige tu tipo de complementos</h2>
                </div>
                <div class="container-items">
                    <div v-for="complemento in complementos" :key="complemento.id" class="item">
                        <p class="name-item">{{complemento.name}}</p>
                        <img src="https://www.bembos.com.pe/media/wysiwyg/menu/tacuchay-menu.webp" alt="">
                        <p>S/. <span class="price-item">{{complemento.price}}</span></p>
                        <button class="btnAdd" @click=agregar>AGREGAR</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-now">
            <h2>Resumen de Pedido</h2>
            <div class="container-pedidos">
                <div v-for="order in orders" :key="order.id" class="pedido-items">
                    <div class="box-order">
                        <div class="order-name">{{order.name}}</div>
                        <div>S/. <span class="precio-kill">{{order.precio}}</span></div>
                        <button class="btnAdd" @click="killed">Eliminar</button>
                    </div>
                    
                </div>
                
            </div>
            <p>Total = S/. {{total}}</p>
            <button class="btnAdd" @click="tomarPedido" >Enviar Pedido</button>
            
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
       

       const app= new Vue({
                el: '#container',
                data:{
                    products : [],
            panes : [],
            carnes : [],
            quesos : [],
            verduras : [],
            complementos : [],
            papas : [],
            bebidas : [],
            orders : [],
            ordersPrice : [],
            pedidos : [],
            total : 0
                },
            
                methods: {
                getApi(){
                    axios.get('https://api.myjson.com/bins/1008dw')
                        .then(res=>{
                            this.obtenerDatos(res.data)
                            
                        })
                },
             
                obtenerDatos(info){
                    this.panes=(info[0].category01);
                    this.carnes = info[0].category02;
                    this.quesos = info[0].category03;
                    this.verduras = info[0].category04;
                    this.complementos = info[0].category05
        
                    
        
                },
                agregar(e){
                    e.preventDefault;
                    class orderItems{
                        constructor(name,precio){
                            this.name = name,
                            this.precio = precio
                        }
                    }
                    
                    let item= e.target.parentElement;
            let precioItem = parseFloat(item.querySelector('.price-item').textContent);
            let order = new orderItems(item.querySelector('.name-item').textContent,precioItem)
            this.pedidos.push(item.querySelector('.name-item').textContent)
            this.orders.push(order);
            this.ordersPrice.push(precioItem);
            
            console.log(this.pedidos);
            this.total = this.ordersPrice.reduce((totalSuma,order)=>{
                return totalSuma+order},0)
            localStorage.setItem('ordenes',JSON.stringify(this.pedidos))
        
                },
                killed(e){
            let precioKill=parseFloat(e.target.parentElement.querySelector('.precio-kill').textContent);
            let i=this.ordersPrice.indexOf(precioKill);
            this.ordersPrice.splice(i,1);
            this.total = this.ordersPrice.reduce((totalSuma,order)=>{
                return totalSuma+order
            },0);
            
            e.target.parentElement.remove();
                
        },
        tomarPedido(e){
            
            [].forEach.call(e.target.parentElement.querySelectorAll('.pedido-items'),function(clase){
                clase.parentNode.removeChild(clase);
            });
            this.total =0;
            this.ordersPrice =[];
            
        },
        
    },
    created(){
        this.getApi();
        let datosLS = JSON.parse(localStorage.getItem('ordenes'));
        if(datosLS===null){
            this.pedidos = [];
        }else{
            this.pedidos = datosLS;
        }
    }
            });
        
        
      
        </script>
    
</body>
</html>
